<!-- Footer section -->
<footer id="about">
  <h2>About us</h2>
  <div class="contact_us">
    <div class="footer-container">
      <h3 class="footer-container__header">Address</h3>
      <div class="address">
        <ul class="">
          <li class="">IIIT Dharwad Campus</li>
          <li class="">Ittigatti Road,</li>
          <li class="">near Sattur</li>
          <li class="">Dharwad</li>
          <li class="">Karnataka, India</li>
        </ul>

      </div>
    </div>
    <div>
      <div class="footer-container">
        <h3 class="footer-container__header">Contact</h3>
        <div class="address">
          <ul class="">
            <li class=""><i class="fas fa-phone-alt"></i> 1212940523</li>
            <li class=""><i class="fas fa-phone-alt"></i> 9472910482</li>
            <li class=""><i class="fas fa-phone-alt"></i> 4957249103</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">© Copyright 2022 Velocity</p>
</footer>
