<!-- <main>
    <div class="ui segment">
      <h1>Oops some error occured :( <br> Please try again</h1>

      <a href="/auth/orcid/login">Sign in with ORCID</a>
    </div>
   </main>
    -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Failure</title>
  <link rel="stylesheet" href="/mainStyles.css">
  <!-- css bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- font awesone -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
  <style>
    .contents {
      width: 100%;
      height: 36rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    h3 {
      padding-bottom: 2rem;
    }
  </style>
</head>

<body>
  <div>
    <%- include('partials/navbar') %>

      <div class="contents">

        <h3>Oops some error occured.</h3>

        <a class="login-button" href="/auth/orcid/login"><button type="button "
            class=" ms-auto btn btn-outline-dark me-2">Log in to Scholar Chat</button></a>

      </div>
  </div>

  <%- include('partials/footer') %>


</body>

</html>