<!-- <main>
 <div class="ui segment">
   <h1>click ze link</h1>
   <a href="/auth/orcid/login">Sign in with ORCID</a>
 </div>
</main> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scholar Chat</title>
  <link rel="stylesheet" href="/mainStyles.css">
  <!-- css bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- font awesone -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
</head>

<body>
  <!-- <div class="container-fluid"> -->
  <div>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="">Scholar Chat</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faqs">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Team</a>
          </li>

          <li class="login "><a href="/auth/orcid/login"><button type="button "
                class=" ms-auto btn btn-outline-light me-2 ">Connect with ORCID</button></a></li>
          <li class="sign-up"><a href="https://scholar-chat-orcid.herokuapp.com/"><button type="button "
                class=" ms-auto btn btn-outline-light me-2">Login</button></a></li>
        </ul>
      </div>
    </nav>
    <!-- navbar end -->



    <!-- hero section -->
    <div class="hero-section">
      <div>
        <h1 class="heading">Meet new and interesting scholars worldwide.</h1>
      </div>
      <div>
        <img class="demo-image" src="img/demo-image.jpg" alt="chat-mockup">
      </div>
    </div>
  </div>
  <!-- hero section end -->

  <hr>


  <!-- features section -->
  <section id="features">
    <h2 class="heading">Features</h2>
    <div class="feature-adv">

      <div class="advantage-col">
        <img class="adv-img" src="img/clock.png" alt="">
        <p class="features-description">Fast</p>
      </div>

      <div class="advantage-col">
        <img class="adv-img" src="img/shield.png" alt="">
        <p class="features-description">Secure</p>
      </div>

      <div class="advantage-col">
        <img class="adv-img" src="img/worldwide.png" alt="">
        <p class="features-description">Worldwide</p>
      </div>
    </div>
  </section>
  <!-- features end -->

  <hr>

  <!-- faqs section -->
  <section id="faqs">
    <h2 class="heading">FAQs</h2>
    <div>

      <div class=" faqs ">
        <h3>what is lorem epsum?</h3>
        <p class="faqs-answesn">-Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </div>

      <div class=" faqs">
        <h3>what is lorem epsum?</h3>
        <p class="faqs-answes">-Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </div>
      <div class=" faqs">
        <h3>what is lorem epsum?</h3>
        <p class="faqs-answes">-Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </div>
      <div class=" faqs">
        <h3>what is lorem epsum?</h3>
        <p class="faqs-answes">-Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </div>
    </div>
  </section>
  <!-- faqs end -->





  <!-- Footer section -->
  <footer id="about">
    <h2>About us</h2>
    <div class="contact_us">
      <div class="footer-container">
        <h3 class="footer-container__header">Address</h3>
        <div class="address">
          <ul class="">
            <li class="">IIIT Dharwad Campus</li>
            <li class="">Ittigatti Road,</li>
            <li class="">near Sattur</li>
            <li class="">Dharwad</li>
            <li class="">Karnataka, India</li>
          </ul>

        </div>
      </div>
      <div>
        <div class="footer-container">
          <h3 class="footer-container__header">Contact</h3>
          <div class="address">
            <ul class="">
              <li class=""><i class="fas fa-phone-alt"></i> 1212940523</li>
              <li class=""><i class="fas fa-phone-alt"></i> 9472910482</li>
              <li class=""><i class="fas fa-phone-alt"></i> 4957249103</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p class="copyright">© Copyright 2022 Velocity</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>


</body>

</html>