<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ORCID</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700"
      rel="stylesheet"
    />
    <!-- Styles -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="style.css" rel="stylesheet" />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="https://orcid.org/sites/default/files/images/orcid_16x16.png"
    />
  </head>
  <body>
    <div class="container">
      <div class="main">
        <div class="logo">
          <img src="orcid-logo-208-64.png" width="208" height="64" />
        </div>
        <h1>Scholar-Chat Registration</h1>
        
        <p id="para">Click to connect your ORCID iD</p>
        <a href="/auth/orcid/login">Sign in with ORCID</a>
        
        <div
          id="orcidWidget"
          data-size="lg"
          data-clientid=data_clientid
          data-env="production"
          data-scopes="/read-limited%20/activities/update%20/person/update"
          data-redirecturi="https://kuchipie.github.io/orcid-registration-frontend/"
          data-submituri="https://scholar-chat-orcid.herokuapp.com/api/oauthData"
        ></div>
        <div id="submitButton">
        </div>
      </div>
    </div>
  </body>
</html>
