<main>
  <div class="ui segment">
    <h1>set ze password for scholar chat</h1>
    <input id="pass" type="text" />
    <button id="submitbtn" onclick="submitData()">submit</button>
  </div>
</main>

<script>
    // submitData()
    let inputValue;
    document.getElementById("pass").addEventListener('input', function(){
        inputValue = this.value
    })
    
    async function submitData(){
        console.log('hit')
        if(inputValue == null){
            alert('Please enter password')
            return
        }
        dataToSend = inputValue
        console.log(inputValue)

        let response = await fetch('/sendData', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({'password': dataToSend}),
        })

        // console.log(response.status); // 400
        // console.log(response.statusText); // Not Found

        if(response.status != 200){
            window.location.href = '/error'
        }
        else{
            window.location.href = '/success'
        }

    }
    
</script>
