<!-- <main>
    <div class="ui segment">
      <h1>Yippee!! Congo you have successfully logged in</h1>
      <a href="https://scholar-chat-orcid.herokuapp.com/">Use Scholar-Chat right now!!</a>
    </div>
   </main>
    -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success</title>
        <link rel="stylesheet" href="styles_success_failure.css">
        <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
    </head>
    <body>
        <!--Navbar Region-->
        
        <header class="navbar">
            <div class="container nav1">
    
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
        
                <ul  class="navbar-contents nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li class="li-item"><a href="#" style="font-size: 1rem;" class="nav-link px-2 text-white">SCHOLAR CHAT</a></li>
                  <li class="li-item"><a href="#" style="font-size: 1rem;" class="nav-link px-2 text-white">Features</a></li>
                  <li class="li-item"><a href="#" style="font-size: 1rem;" class="nav-link px-2 text-white">FAQs</a></li>
                  <li class="li-item"><a href="#" style="font-size: 1rem;" class="nav-link px-2 text-white">About</a></li>
                
                <li class="login"><button type="button " class=" ms-auto btn btn-outline-light me-2 ">Login</button></li>
                <li class="sign-up"><button type="button " class=" ms-auto btn btn-outline-light me-2">Sign-up</button></li>
                
                </ul>
              </div>
            </div>
          </header>
    
          <div class="contents">
    
            <h3>User successfully created.</h3>
            
            <a class="login-button" href="https://scholar-chat-orcid.herokuapp.com/chats"><button type="button " class=" ms-auto btn btn-outline-dark me-2">Log in to Scholar Chat</button></a>    
    
        </div>
    

        <%- include('partials/footer') %>
    
    
        
    </body>
    </html>