<main>
    <div class="ui segment">
      <h1>Yippee!! Congo you have successfully logged in</h1>
      <a href="https://scholar-chat-orcid.herokuapp.com/">Use Scholar-Chat right now!!</a>
    </div>
   </main>
   