<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="team_styles.css">
    <link rel="stylesheet" href="/mainStyles.css">

    <title>Team Page</title>



</head>

<body>

    <!--Navbar Section-->

    <!-- <div class="container-fluid"> -->
    <div>
        <%- include('partials/navbar') %>


            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="img/team1.jpg" alt="">
                        </div>
                        <div class="contentBx">
                            <h4>James Ford</h4>
                            <h5>Director General</h5>
                        </div>
                        <div class="sci">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="img/team2.jpg" alt="">
                        </div>
                        <div class="contentBx">
                            <h4>Ann Brown</h4>
                            <h5>Mannager</h5>
                        </div>
                        <div class="sci">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="img/team3.jpg" alt="">
                        </div>
                        <div class="contentBx">
                            <h4>Ben Jason</h4>
                            <h5>Developer</h5>
                        </div>
                        <div class="sci">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="img/team4.jpg" alt="">
                        </div>
                        <div class="contentBx">
                            <h4>Ann Brown</h4>
                            <h5>Mannager</h5>
                        </div>
                        <div class="sci">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="img/team5.jpg" alt="">
                        </div>
                        <div class="contentBx">
                            <h4>Ann Brown</h4>
                            <h5>Mannager</h5>
                        </div>
                        <div class="sci">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="img/team6.jpg" alt="">
                        </div>
                        <div class="contentBx">
                            <h4>Ann Brown</h4>
                            <h5>Mannager</h5>
                        </div>
                        <div class="sci">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <%- include('partials/footer') %>


</body>

</html>