body {
    margin: 0;
    padding: 0;
}

/* navbar */
.bg{
    background-color: #2d8dd6;
}

.navbar-brand{
    color:white;
    font-size: 1.5rem;
    margin-left:4rem ;
}
.navbar-nav li{
    padding: 0.5rem;
}
.nav-link{
    color: white;
    font-size: 1rem;
}

/* section1 */

.container{
    margin-top: 5rem;
    width: 100%;
    height: 45rem;
}

.demo-image {
    width: 18rem;
    height: 36rem;
    border-radius: 5%;
    transform: rotate(-20deg);
}

.logos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}
.logo-main-1{
    height: 7rem;
}

.logo-main-2{
    height: 7rem;

}

.heading{
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
    text-align: left;
    margin: 0;
}
.subheading{
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    text-align: left;
    margin: 0;
}

/* Features section */
.heading-2{
    text-align: center;
    font-size: 3rem;
    font-family: 'Rubik';
    padding: 5rem;
}

.container-2{
    height: 20rem;
}


.features-description {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
} 

.adv-img {
    width: 8rem;
}  


/* faqs */

.faqs {
    display: inline-block;
    justify-content: center;
    padding-left:9rem;
    padding-top: 2rem;
    padding-bottom:5rem ;
} 

.heading-3{
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik';
}


/* footer */
 #about {
    background-color: #2d8dd6;
    color: #fff;
}

#about h2 {
    text-align: center;
    padding: 2rem 0;

}

#about li {
    list-style: none;
}

.contact_us,
.address {
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.footer-container__header {
    margin-left: 2.5rem;
}

.footer-container {
    padding: 0 5rem;
}

.copyright {
    padding: 1rem;
    margin: 0;
    text-align: center;
}





/*
@media screen and (max-width:720px) {
    body {
        width: auto;
    }

    .hero-section {
        display: block;
    }

    .nav-link {
        margin-left: 1rem;
    }

    .navbar-brand {
        margin-left: 1rem;
    }

    .login {
        margin: 0 1rem 0 0;
        padding: 1rem 0 1rem 1rem;
    }

    .sign-up {
        margin: 0 1rem 0 0;
        padding: 0 0 1rem 1rem;
    }

    .heading {
        text-align: center;
        font-size: 2rem;
    }

    .logo-image {
        width: 10rem;
    }

    .demo-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: auto;
        height: 36rem;
        border-radius: 10%;

    }

 

    .advantage-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0;
    }

    .adv-img {
        width: 6rem;
    }

    .feature-adv {
        flex-direction: column;
    }

    .footer-container {
        padding: 0;
    }
} */